@page "/"

<PageTitle>"Reddit"</PageTitle>

<h1>Assignment1-2</h1>


<AuthorizeView>
    <Authorized>
        Press the plus button to post something.
    </Authorized>
    <NotAuthorized>
        Press the button in the top right corner to log in.
    </NotAuthorized>
</AuthorizeView>
